<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<h1>Edit Article</h1>
	<form data-ng-submit="update" novalidate>
		<div>
			<label for="title">Title</label>
			<div>
				<input type="text" data-ng-model="article.title" id="title" placeholder="Title" required>
			</div>
		</div>
		<div>
			<label for="content">Content</label>
			<div>
				<textarea data-ng-model="article.content" id="content" cols="30" rows="10" placeholder="Title"></textarea>
			</div>
		</div>
		<div>
			<input type="submit" value="Update">
		</div>
		<div data-ng-show="error">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
</section>