<!DOCTYPE html>
<html>
<head>
	<title>
		<%= title %>
	</title>
</head>
<body>
	<h4>
	<% for(var i in messages) {%>
		<div class="flash"><%= messages[i] %></div>
	<% } %>
	</h4>
	<form action="/signup" method="post">
		<div>
			<label>Fisrt Name:</label>
			<input type="text" name="firstName"/>
		</div>
		<div>
			<label>Last Name:</label>
			<input type="text" name="lastName">
		</div>
		<div>
			<label>Email:</label>
			<input type="text" name="email">
		</div>
		<div>
			<label>Username:</label>
			<input type="text" name="username">
		</div>
		<div>
			<label>Password:</label>
			<input type="password" name="password">
		</div>
		<div>
			<input type="submit" value="Sign up">
		</div>
	</form>
</body>
</html>
