<!DOCTYPE html>
<html>
<head>
	<title><%= title%></title>
</head>
<body>
	<% for(var i in messages[i]) {%>
		<div class="flash"><%= messages[i] %></div>
	<% } %>
	<form action="/signin" method="post">
		<div>
			<label>Username:</label>
			<input type="text" name="username">
		</div>
		<div>
			<label>Password:</label>
			<input type="password" name="password">
		</div>
		<div>
			<input type="submit" value="Sign in">
		</div>
	</form>
	<a href="/oauth/facebook">Sign in with Facebook</a>
	<a href="/oauth/twitter">Sign in with Twitter</a>
	<a href="/oauth/google">Sign in with Google</a>
</body>
</html>
